
.container{
  color:#fff;
      display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

   width: 400px;
   height: 25%;
        background-color: #56241f;
        margin:0 auto;
}

.quote{
  padding: 5px;
 
}
.author{
      align-self: flex-end;
    padding: 5px;
   
}
.newQuoteContainer{
  position: relative;
      width: 100%;
    display: flex;
    justify-content: space-between;
     margin: auto;
}
button{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
   display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}